.vscode/**
jsconfig.json
detached-command-mcp/package-lock.json
node_modules/*
!node_modules/node-pty
!node_modules/@xterm
!node_modules/openai
!node_modules/@modelcontextprotocol
!node_modules/yaml
!node_modules/zod
!node_modules/zod-to-json-schema
!node_modules/content-type
!node_modules/eventsource-parser
!node_modules/eventsource
!node_modules/raw-body
!node_modules/cross-spawn
!node_modules/which
!node_modules/isexe
!node_modules/path-key
!node_modules/shebang-command
!node_modules/shebang-regex
!node_modules/bytes
!node_modules/iconv-lite
!node_modules/unpipe
!node_modules/depd
!node_modules/http-errors
!node_modules/safer-buffer
!node_modules/setprototypeof
!node_modules/statuses
!node_modules/toidentifier
!node_modules/node-addon-api
!node_modules/pkce-challenge
!node_modules/jose
!node_modules/json-schema-typed
!node_modules/ajv
!node_modules/ajv-formats
!node_modules/fast-deep-equal
!node_modules/json-schema-traverse
!node_modules/require-from-string
!node_modules/uri-js
!node_modules/pdfkit
!node_modules/crypto-js
!node_modules/fontkit
!node_modules/jpeg-exif
!node_modules/linebreak
!node_modules/png-js
!node_modules/@swc
!node_modules/tslib
!node_modules/brotli
!node_modules/base64-js
!node_modules/clone
!node_modules/dfa
!node_modules/restructure
!node_modules/tiny-inflate
!node_modules/unicode-properties
!node_modules/unicode-trie
!node_modules/pako
